* {
   font-family: 'AncientSans';
   font-weight: normal;
   font-style: normal;
}

h2 {
   font-weight: bolder;
}

body {
   margin: 0;
}

.bodyGrid {
   display: grid;
   grid-template-columns: 20vw 80vw;
   grid-template-rows: 20vh 150vh;
   gap: 0px;
}

/* #region Lateral bar */

.latBar {
   background-color: #1992D3;
   grid-row: 1/3;
   padding-top: 10px;
   color: white;
}

.latBarText {
   display: flex;
   margin-bottom: -17px;
}

.latBarText > * {
   padding-left: 10px;
}

.latBarText a {
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   text-decoration: none;
}

.latBarList {
margin-top: 30px;
}

.iconSmall {
display: flex;
align-items: center;
width: 20px;
}

.iconBig {
   width: 25px;
}

/* #endregion */

/* #region Upper-upper bar */
.upperBar {
   position: relative;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   display: grid;
   grid: 50% 50% / 65% 10% 10% 12%;
   background-color: white;
}

.upperBar > * {
   display: flex;
   align-items: center;
   justify-content: center;
}

.upperBar input {
   width: 70%;
   background-color: lightgray;
   border: 1px solid lightgray;
   border-radius: 10px;
}

/* #region Searchbar */
.searchBar {
   justify-content: left;
   padding-left: 10%;
}

.searchBar > img {
   padding-right: 20px;
}
/* #endregion */

.notifications {
   border: 1px solid transparent;
   background-color: transparent;
   cursor: pointer;
}

.pfpSmall {
   width: 50px;
   border-radius: 50%;
}

/* #endregion */

/* #region Upper-lower bar */

.miniGrid {
   display: grid;
   grid: 35px 35px / 70px 400px;
   justify-content: left;
   padding-left: 50px;
}

.miniText, .miniGrid h2 {
   padding-left: 20px;
   font-weight: bolder;
}

.pfpBig {
   width: 70px;
   border-radius: 50%;
   grid-row: 1/3;
}

.barButton {
   color: white;
   background-color: #1992D3;
   border: 1px solid #1992D3;
   width: 75px;
   padding: 10px;
   border-radius: 30px;
}
/* #endregion */

/* #region Body */

.dashboardBody {
   padding-top: 10px;
   background-color: #E2E8F0;
   display: grid;
   grid: 30px 80% / 70% 30%;
   box-shadow: 10px 10px 
}

.left10 {
   margin-left: 10px;
}

.left-10 {
   margin-left: -10px;
}

.bodyGridText {
   display: flex;
   justify-content: left;
   align-items: center;
   padding-left: 10px;
}

.bodyGridText h3 {
   font-weight: bolder;
}

.innerGrid {
   display: grid;
   grid: 45% 45% / 30% 30% 30%;
   gap: 20px;
   margin-left: 20px;
   height: 60%;
}

.project {
   position: relative;
   background-color: white;
   border: none;
   border-left: 10px solid #4D226C;
   border-radius: 10px;
   padding-left: 10px;
}

.icons {
   position: absolute;
   bottom: 0px;
   right: 10px;
}

.starIcon, .forkIcon, .eyeIcon {
   width: 25px;
   cursor: pointer;
}

.lateralGrid {
   display: grid;
   grid: 45% 20px 45% / 95%;
   height: 60%;
   gap: 10px;
}

.lateralTab {
   width: 80%;
   height: calc(100% - 20px);
   border-radius: 10px;
   border: 1px solid white;
   background-color: white;
   padding-left: 10px;
}

.lateralText {
   margin-top: 10px;
   padding-right: 10px;
}

#trending {
   display: flex;
   flex-direction: column;
}

.person {
   display: flex;
   justify-content: left;
   align-items: center;
}

.colorPfp {
   border: 1px solid black;
   background-color: yellow;
   width: 40px;
   height: 40px;
}

.personDesc {
   padding-left: 10px;
}

.personDesc h3 {
   margin-bottom: -10px;
}

.personDesc p {
   color: gray;
   font-size: 10px;
}

/* #endregion */